@(title : String)

@main(title) {
    <link href="@routes.Assets.at("stylesheets/User_Login.css")" type=text/css rel=stylesheet />
    <link href="@routes.Assets.at("stylesheets/Default.css")" type=text/css rel=stylesheet />
    <link href="@routes.Assets.at("stylesheets/xtree.css")" type=text/css rel=stylesheet />
} {
    <div id="userlogin_body">
        <div></div>

        <div id=user_login>
            <dl>
                <dd id=user_top>
                    <ul>
                        <li class=user_top_l></li>
                        <li class=user_top_c></li>
                        <li class=user_top_r></li>
                    </ul>

            <dd id=user_main>
                <ul>
                    <li class=user_main_l></li>
                    <li class=user_main_c>
                        <div class=user_main_box>
                            <ul>
                                <li class=user_main_text>用户名： </li>
                                <li class=user_main_input><INPUT class=TxtUserNameCssClass id=TxtUserName
                                maxLength=20 name=TxtUserName> </li>
                            </ul>

                            <ul>
                                <li class=user_main_text>密 码： </li>
                                <li class=user_main_input>
                                    <input class=TxtPasswordCssClass id=TxtPassword type=password name=TxtPassword>
                                </li>
                            </ul>

                            <ul>
                                <li class=user_main_text>Cookie： </li>
                                <li class=user_main_input>
                                    <select id=DropExpiration name=DropExpiration>
                                        <option value=None selected>不保存</option>
                                        <option value=Day>保存一天</option>
                                        <option value=Month>保存一月</option>
                                        <option value=Year>保存一年</option>
                                    </select>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class=user_main_r>
                        <input class=IbtnEnterCssClass id=IbtnEnter style="BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px"
                            onclick='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("IbtnEnter", "", true, "", "", false, false))'
                            type=image src="@routes.Assets.at("images/user_botton.gif")" name=IbtnEnter>
                    </li>
                </ul>

                <dd id=user_bottom>
                    <ul>
                        <li class=user_bottom_l></li>
                        <li class=user_bottom_c>
                            <span style="MARGIN-TOP: 40px">如果您想获得更多后台模板，请点此
                                <a href="http://www.mycodes.net">源码之家</a> 。
                            </span>
                        </li>
                        <li class=user_bottom_r></li>
                    </ul>
                </dd>
            </dl>
        </div>
    </div>
} {

}